<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300061944577-1nba654h93l8jjhlrmev5lkv17j86fl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300061944577-1nba654h93l8jjhlrmev5lkv17j86fl8</string>
	<key>API_KEY</key>
	<string>AIzaSyB0LstgWALHGkm9wsYmKxqgvrYQGuyY1Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>300061944577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JHA.DevAppMobile</string>
	<key>PROJECT_ID</key>
	<string>devappmobile-2b07d</string>
	<key>STORAGE_BUCKET</key>
	<string>devappmobile-2b07d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300061944577:ios:b3c90b70550462339cc900</string>
</dict>
</plist>